extends layout

block content
  include utils/hero
  h1= title
  p Welcome to #{title}
  p Are you logged in? #{logged_in}
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere augue sed tortor scelerisque bibendum. Mauris dictum mollis metus. In ut imperdiet felis, ac bibendum erat. Praesent eget cursus mauris. Quisque porttitor justo quis lectus suscipit, eu ultrices sem mollis. Proin dolor quam, vestibulum vel nibh vitae, euismod interdum erat. Cras eget sem a lorem fermentum porttitor. Vestibulum justo quam, mattis sit amet pellentesque non, tincidunt et risus. Pellentesque ut sem eget sapien eleifend vulputate ut non odio.

  Praesent vitae ex sapien. Etiam luctus blandit molestie. Etiam efficitur mattis nulla vel commodo. Phasellus ultricies diam congue volutpat semper. Nunc in tincidunt nulla. Morbi sem nunc, suscipit volutpat pharetra at, efficitur sit amet diam. Nulla eu velit orci.

  Ut metus enim, accumsan sed accumsan cursus, commodo quis magna. Quisque sagittis purus et quam semper vestibulum eu a nunc. Phasellus sem nisi, dapibus vitae sagittis at, luctus aliquet risus. Phasellus sit amet sapien nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum in quam bibendum, laoreet tellus in, mattis erat. Praesent ullamcorper in erat mattis placerat. Maecenas malesuada quis nisi id consequat. Aliquam erat volutpat. Sed dignissim sem massa, vitae scelerisque nisl ornare non. Curabitur nec pharetra erat, volutpat consequat metus. Donec tincidunt ligula eu nisi tempor dignissim a ut diam. Nulla eu tortor ac massa porta egestas in eu arcu. Vestibulum condimentum porta gravida.

  Sed accumsan metus a laoreet eleifend. Aliquam eu efficitur magna, sed blandit nunc. Aenean faucibus eros lorem, a cursus tortor lobortis sit amet. Sed vitae nulla sem. Nulla vitae lacus nec mauris rhoncus ornare at et justo. Mauris tempus quis ligula sit amet laoreet. Mauris imperdiet eget odio eget consectetur. Proin nec velit eu orci dignissim placerat. In hac habitasse platea dictumst. Praesent semper sapien ut tellus vulputate fermentum. Pellentesque eleifend, odio quis scelerisque dictum, est est semper enim, vel elementum sem diam eleifend odio. Morbi lorem est, eleifend ac ultricies eget, ullamcorper vel ex. Fusce commodo, ipsum id iaculis commodo, est nibh viverra nulla, ac interdum sem mauris sed dui.

  Vestibulum porttitor, urna a faucibus cursus, turpis mi cursus nisi, non tempus nisl felis at dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc tempus non neque ut vulputate. Nullam pellentesque ullamcorper rhoncus. Suspendisse dapibus tortor nec euismod varius. Sed aliquam, tortor ut ullamcorper auctor, nisi dolor efficitur eros, vitae maximus ante tortor nec elit. Nunc condimentum, nisi gravida sollicitudin sagittis, mi mauris congue nibh, sit amet cursus nunc tellus id dui.

  Maecenas eget arcu mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus id ante in dui venenatis pharetra. Donec ornare id ante sit amet ullamcorper. Integer at nisl at elit fermentum lobortis. Integer volutpat molestie rutrum. Sed nisl arcu, malesuada quis egestas sit amet, pretium quis augue. Pellentesque consectetur, enim ut ornare porttitor, sapien justo volutpat eros, et scelerisque diam arcu sed diam.

  Cras a urna nisl. Praesent nec nisi ex. Nunc eleifend interdum orci, vel varius ex volutpat tristique. Morbi turpis augue, porta quis metus tempor, congue pretium odio. Aenean euismod placerat velit. Vestibulum vel libero vitae libero maximus laoreet. Aliquam vestibulum, sapien ac rhoncus varius, orci purus tristique tortor, vel scelerisque elit mauris vel neque. Etiam sed diam non quam malesuada vehicula sed eu nibh. In pretium bibendum ultrices. Etiam facilisis felis non pulvinar mattis.