doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/app.js")

  body

    include utils/header.jade
    block hero
    block content
