extends layout

block content
  include utils/hero

  .big-logo-row.bg-white
    .big-logo-container
      h3.big-logo.text-center= error.status
      h3.big-logo.text-center= message

      pre #{error.stack}
