.container-fluid.big-logo-row
    .container
        .row
            .col-xs-12.big-logo-container.align-self-center
                h1.big-logo #{hero_icon}
            .col-xs-12.big-logo-container.align-self-center
                h2.big-logo #{hero_title}
            // /.col-xs-12
            // /.row
            // /.container
// /.container-fluid
